body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.heading {
    margin-top: 0px;
    width: 100%;
    font-size: 30px;
    text-align: left;
}

#instruct {
    font-size: 18px;
    float: right;
    border: 1px solid white;
}

#start,
#status,
#restart {
    font-size: 22px;
}

hr {
    color: grey;
    border-color: grey;
}

.modal-dialog {
    width: 90%;
}

.instruct {
    display: inline-block;
    margin: 20px;
}

.instruction-image {
    height: 400px;
}

.sticky-footer {
    position: sticky;
    bottom: 0px;
    line-height: 3;
    background-color: seashell;
}

canvas {
    border: 5px solid grey;
    border-radius: 20px;
    box-shadow: 5px 5px 5px silver;
    animation: border 2s infinite alternate;
}

@keyframes border {
    from {
        box-shadow: 5px 5px 5px silver;
        border: 5px solid grey;
    }

    to {
        box-shadow: 5px 5px 5px gainsboro;
        border: 5px solid silver;
    }
}
